.wrapper {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
}

.infoText {
    color: #fffafb;
    font-weight: 300;
    font-size: 34px;
    letter-spacing: 0.1em;
}

.costVisualizer {
    justify-self: center;
}
